{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="content text-center text-secondary mb-4">About Us</h1>

<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/Adam.jpeg' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Adam Owada</h4>
      <!--Text-->
      <p class="card-text text-justify">LinkedIn: www.linkedin.com/in/adamowada</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/chuck.jpeg' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Chuck Li Villalobos</h4>
      <!--Text-->
      <p class="card-text text-justify">LinkedIn: www.linkedin.com/in/chucklivillalobos/</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/natalie.jpeg' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Natalie Sinner</h4>
      <!--Text-->
      <p class="card-text text-justify">LinkedIn: www.linkedin.com/in/nataliesinner</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/Roman.jpeg' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Roman Sydoruk</h4>
      <!--Text-->
      <p class="card-text text-justify">LinkedIn: www.linkedin.com/in/romansydoruk/</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/tom.jpeg' %}"
        alt="Card image cap">
      <a href="https://github.com/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Thomas Sherer</h4>
      <!--Text-->
      <p class="card-text text-justify">LinkedIn: www.linkedin.com/in/tlsherer/</p>

    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->
{% endblock content %}

