{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
{% if messages %}
    {% for message in messages %}
      <div role="alert" id="message" class="alert alert-danger {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
{% endif %}
<h1 class="content text-center mb-4 text-secondary">Watchlist</h1>
<h1 class="text-secondary">Add Stocks to my Watchlist</h1>
  <div class="border border-light p-3 white-background">
    <form method="post" class="content text-center">
      {% csrf_token %}
      <fieldset class="text-primary">
        {{ form|crispy }}
      </fieldset>

      <button id="search_submit" type="submit" class="btn btn-primary darken-1">
        Add Stock
      </button>
    </form>
  </div>
<h2 class="text-secondary">My Stocks</h2>

{% if stocks %}
 <div class="text-center table-responsive">
    <table id="results" class="table table-hover table-bordered white-background">
      <thead>
        <tr>
          <th class="text-primary" scope="col">TICKER</th>
          <th class="text-primary" scope="col">COMPANY NAME</th>
          <th class="text-primary" scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for stock in stocks %}
          {% if request.user == stock.user %}
            <tr>
              <th class="align-middle" scope="row">{{ stock.stock_ticker }}</th>
              <td class="align-middle">{{ stock.company_name }}</td>
              {% comment %} <td><a class="btn btn-outline-danger waves-effect p-2 " data-toggle="modal" data-target="#modalConfirmDelete" href="{% url 'delete_result' result.pk %}"><i class="fas fa-trash-alt fa-lg"></i></a></td> {% endcomment %}
              {% comment %} <td><a class="btn btn-outline-primary waves-effect p-2" href="{% url 'stock_details' stock.pk %}"><i class="fas fa-info-circle fa-lg"></i></a></td> {% endcomment %}
              {% comment %} <td><a class="btn btn-outline-danger waves-effect p-2 " data-toggle="modal" data-target="#modalConfirmDelete" href="{% url 'stock_details' stock.pk %}"><i class="fas fa-trash-alt fa-lg"></i></a></td> {% endcomment %}
              <td><a class="btn btn-outline-danger waves-effect p-2 " data-toggle="modal" data-target="#modalConfirmDelete" href="{% url 'delete_stock' stock.pk %}"><i class="fas fa-trash-alt fa-lg"></i></a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    {% for stock in stocks %}
        {% if request.user == stock.user %}
            <img src='data:image/png;base64,{{ stock.prediction }}'>
        {% endif %}
    {% endfor %}
  </div>

  {% else %}
    <h3 class="content text-danger">Your watchlist is empty</h3>
  {% endif %}
  
  {% if context %}
    <p>{context}</p>
  {% endif %}

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Delete Stock</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <p>Are you sure you want to delete this stock?</p>
        <i class="fas fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a id="link" href="" class="btn btn-outline-danger">Yes</a>
        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->

{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/delete_stock.js' %}"></script>
{% endblock script %}