{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% if messages %}
    {% for message in messages %}
      <div role="alert" id="message" class="alert alert-success {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}
<div class="full-heigh">
  <h1 class="content text-center mb-4 text-secondary">Login</h1>

  <div class="border border-light p-3 white-background">
    <form method="post" class="login text-center border border-light p-5">
      {% csrf_token %}
      <fieldset class="text-secondary auth__form__group">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary pr-4 pl-4">
          Login
        </button>  
      </fieldset>
    </form>

    <div class="pt-3">
      <p class="text-center text-muted">
        Don't have an account? 
        <a href="{% url 'register' %}">Register</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}