{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% if messages %}
    {% for message in messages %}
      <div role="alert" id="message" class="alert alert-success {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
{% endif %}
<div class="full-heigh">
  <h1 class="content text-center mb-4 text-secondary">You've been logged out</h1>

  <div class="text-center">
    <p class="text-secondary">Thank you so much for using our APP!</p>
    <div class="pt-3">
      <p class="text-muted">
        Go back to  
        <a href="{% url 'login' %}">Login</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}