{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% if messages %}
    {% for message in messages %}
      <div role="alert" id="message" class="alert alert-success {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
{% endif %}
<div class="full-heigh">
  <h1 class="content text-center mb-4 text-secondary">{{ user }}'s Profile</h1>

  <div class="border border-light p-3 white-background">
    <form method="post" class="text-center border border-light p-5">
      {% csrf_token %}
      <fieldset class="text-secondary">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary pl-4 pr-4">
          Update
        </button>  
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}