{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% if messages %}
    {% for message in messages %}
      <div role="alert" id="message" class="alert alert-success {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}
  <h1 class="content text-center mb-4 text-secondary">Register</h1>

  <div class="border border-light p-3 white-background">
    <form method="post" class="content">
      {% csrf_token %}
      <fieldset class="text-secondary auth__form__group">
        {{ form|crispy }}
        <div class="text-center">
          <button type="submit" class="btn btn-primary pr-4 pl-4">
            Register
          </button>  
        </div>
      </fieldset>
    </form>

    <div class="pt-3 text-center">
      <p class="text-muted">
        Already have an account? 
        <a href="{% url 'login' %}">Login</a>
      </p>
    </div>
  </div>
{% endblock content %}